.section--benefits {
  width: 65%;
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  @media only screen and (max-width: $bp-small) {
    text-align: center;
    width: 100%;
  }
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @media only screen and (max-width: $bp-small) {
    display: grid;
    text-align: center;
  }
}

.benefit {
  display: grid;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: min-content 1fr;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
