.section--faq {
  position: relative;
  width: 100%;
  padding: 5rem 2.4rem 10rem 2.4rem;
  // display: grid;
  // place-items: center;
  text-align: center;
  background-color: #e7f2eb;
  overflow: hidden;
  z-index: 2;
}

.shadow {
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  max-width: 90rem;
  margin: 0 auto;
  background-color: #fff;
}

.faq {
  text-align: left;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }

  &__question {
    font-size: 2.2rem;
    font-weight: 500;
  }

  &__icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--color-grey-dark-2);

    &--open {
      display: none;
      fill: #fff;
    }
  }

  &__answer {
    display: none;
    font-size: 1.8rem;
    color: var(--color-grey-dark-2);
    padding: 2rem 4rem;
    margin-top: 1.6rem;
  }

  &__active &__box {
    background-color: var(--color-primary);
    color: #fff;
    box-shadow: 0rem 0.6rem 3rem var(--color-primary);
  }

  &__active &__answer {
    display: block;
  }

  &__active &__icon--close {
    display: none;
  }

  &__active &__icon--open {
    display: block;
  }
}
